@import 'Mixin';
/* ------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_inner{
  @include row;
  align-items: center;
}
.header_text{
  font-size: 30px;
  color: $white;
  font-weight: 700;
}
.header_logo {
  @include logo;
}
.logo_link{
  text-transform: uppercase;
  text-decoration: none;
}
.logo_link:hover{
  @include hover_link;
}
.nav{
  text-transform: uppercase;
  font-size: 14px;
}
.nav_link{
 @include link;
 opacity: 0.7;
}
  .nav_link:hover{
    @include hover_link;
    opacity: 1;
  }
  .nav_link:after{
    content: "";
    opacity: 0;
    width: 150%;
    height: 3px;
    background-color: $white;
    position: absolute;
    top: 150%;
    left: -25%;
    z-index: 1;
    transition: opacity 0.1s linear;
    
  }
  .nav_link:hover:after{
    opacity: 1;
  }
  .nav_link_btn{
    border: 2px solid $white;
    padding: 10px 15px;
    border-radius: 5%;
    @include link;
  }
  .nav_link_btn:hover{
    @include hover_link;
  }
/* ------------------------- */