.App {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden;
}
*,
*before,
*after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}
.App-logo {
  height: 40px;
  width: 40px;
}

.nav{
  text-transform: uppercase;
  font-size: 14px;
}
.link{
  margin: auto 0;
  align-items: center;
  text-align: center;
}
.nav_link{
  position: relative;
  color: #ffffff;
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.2s linear;
}
  .nav_link.b{
    border: 2px solid #ffffff;
    padding: 5px 10px;
  }

  .nav_link:hover{
    color:black
  }
  .nav_link:after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
  }
  .nav_link:hover:after{
    opacity: 1;
  }


.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("people.png") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro_title{
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  line-height:1.1;
  color: #ffffff;
  margin-bottom: 30px;
}
.intro_inner{
  width: 100%;
  margin: 0 auto;
}
.intro_subtitle{
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}



.section{
  padding: 80px 0;
}
.section + section{
  padding-top: 0px;
}
.section_header{
  width: 100%;
  max-width: 1280px;
  margin-bottom: 0 auto 20px;
  
}
.section_title{
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
}
.section_title:after{
 content: "";
 display: block;
 width: 60px;
 height: 3px; 
 background-color: green;
 margin: 20px 0;
}
.section_text{
  line-height: 2;
  font-size: 14px;
  color: #333;
}



.tab_photo{
  padding: 140px 0;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}
.tab_item_center{
  padding: 0 120px;
}
.desk_photo img{
  width: 100%;
}


.design{
  padding: 80px 0;
}
.design_title{
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

.comments{
  padding: 80px 5px;
  width: 100%;
  background-color: gray;
}
.comments_text{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  color: #333;
}
.author{
  max-width: 1200px;
  display: flex;
  float: right;
  margin-top: 10px;
  
}
.comments_author{
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
}
.comments_job{
  font-size: 16px;
}
.subtext{
  padding: 25px;
  margin: 20px 0;
  width: 780px;
  font-size: 18px;
}


.phone_photo{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 140px 60px;
  background-color: gray;
  
}
.phone_card{
  margin: 0 20px;
}
.phone_card img{
  width: 100%;
}
.top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 30px 0 30px;
  background-color: green;
}
.bottom{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: green;
  padding-bottom:40px ;
}
.web_item img{
  width: 100%;
}


.footer{
  font-size: 20px;
  font-weight: 300;
  color: aqua;
  background-color: black;
  text-align: center;
}